spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:pgsql}:${DB_PORT:5432}/${DB_NAME:train_center}?useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:1qaz2wsx}
    driver-class-name: org.postgresql.Driver
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    password: ${REDIS_PASSWORD:}
    database: 0
    timeout: 3000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 2

server:
  port: 8888
